@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Regular.woff2') format('woff2'),
        url('../font/Lato-Regular.woff') format('woff'),
        url('../font/Lato-Regular.ttf') format('truetype'),
        url('../font/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Light.woff2') format('woff2'),
        url('../font/Lato-Light.woff') format('woff'),
        url('../font/Lato-Light.ttf') format('truetype'),
        url('../font/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    fonts-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Bold.woff2') format('woff2'),
        url('../font/Lato-Bold.woff') format('woff'),
        url('../font/Lato-Bold.ttf') format('truetype'),
        url('../font/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* main body code start */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body
    {
        font-weight: normal;
        overflow-x: hidden;
        font-family: 'Lato-Regular',sans-serif;
      
    }
    li{  
        list-style-type: none;
    }
    p{
        font-size:16px;
    }
    .font{
        font-family: 'Lato-Regular',sans-serif;
    }
    .black_color
    {
        color: #505050;
    }
    .white_color
    {
        color:#FFFFFF ;
    }
    .textupper
    {
        text-transform: uppercase;
    }
    li{  
        list-style-type: none;
    }
    img{
        width: 100%;
    }
    .bold {font-weight:bolder ;}
    a{
        text-decoration:none;
        
    }
    .container{
        max-width:1109px;
        margin: 0px auto;
        width: 100%; overflow-x: hidden;
    }
    /* button:hover{
        background-color: #1b7642;
    } */

/*                       header part start  */
header{
	margin:auto;
    padding:10px 0px;
	width:100%;
    color: black;
}

header .container .header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .header-inner .navbar{
    text-align:end;
}
header .container .header-inner .logo{
    padding:0.5rem;
    display: flex;
}
header .container .header-inner .logo img{
	width:42px;
	height:42PX;
}
.logoheading{
    margin: 5px;
    font-size:15px;
    font-family: 'Lato-Regular',sans-serif;
}
header .container .header-inner .navbar .navbar-top{
    display: flex;justify-content: flex-end;
}
header .container .header-inner .navbar .navbar-top .navbar-top-frist-link{
    display: flex;
}
header .container .header-inner .navbar .navbar-top .navbar-top-frist ul li{
    margin: 0px 6px;
}
header .container .header-inner .navbar ul li a{
    font-size: 14px;
}
header .container .header-inner .navbar .navbar-top .navbar-top-second ul {
	display:flex;
	margin-right:0px;
}
header .container .header-inner .navbar .navbar-top .navbar-top-second ul li{
    margin-right: 6px;
}
header .container .header-inner .navbar .navbar-top .navbar-top-second ul li:last-child{
    margin-right: 0px;
}
header .container .header-inner .navbar .navbar-bottom ul{
    display: flex;  
}
header .container .header-inner .navbar .navbar-bottom ul li{
    margin:5px;
}
.lang::after{
		content:url('../images/asset1.png');
		}
.pipedForTopNavigation::after{
    content:url('../images/asset1.png');
}
.navbar-bottom ul li::after{
		margin-left:5px;
		content:url('../images/asset1.png');
}
.navbar-bottom ul li:last-child:after {
	content:'';
}
#roundbuttonul::after{
    content:url('../images/asset1.png');
		}
.color-button{
    border-radius: 50%;
   	padding:2px 8px; 
    width: 15px;
    height: 15px;
    margin: 0 3px; 
    border: none;
}
.btn-color-blue{
    background-color:rgb(38,87,129);
}
.btn-color-green{
    background-color: rgb(82,178,123);
}
.btn-color-yellow{
    background-color: rgb(242,225,98);
}

.search-modal {
    display: none;
    position:absolute;
    left: 0px;
    top:80px;
    width: 100%;
    height:45px;
    z-index: 999;
    padding: 0px 10px;
  }
  
  .search-modal .search-input {
    width: 100%;
    position: relative;
    height: 100%;
    padding: 3px 60px 3px 5px;
    border: 1px solid rgb(202, 200, 200);
    outline: none;
    border-radius:15px;
    height:45px;
  
  }
  .search-modal .search-input:focus{
      border: 2px solid rgb(10, 199, 104);
  }
  .search-modal button {
    position: absolute;
    left:30px;
    height: 100%;
    border: none;
    background: transparent;
    color:rgb(10, 199, 104) ;
  }
  
  .search-modal .search-close {
    position: absolute;
    top:20px;
    right:40px;
    transform: translateY(-50%);
    color:red;
    font-weight: 700;
  }
  .search-close i, .search-modal button i{
    font-size:20px;
  }
  
  .header-for-mobile-app{
    display:none;
}
#baricon{
    display: none;
}
/* banner start */
.banner{
	margin:auto;
    position: relative;
}
.banner-main .container .banner-title{
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 900;
}
.banner-main .container .banner-title .banner__heading{
    padding: 12px 25px 12px 20px;
    font-size: 57px; 
    background-color: #1b7642;
    color: white;
    font-family: "Lato", sans-serif;
    margin-bottom: 5px;
}
.banner-main .container .banner-title .banner__subheading{
    padding: 12px 25px 12px 20px;
    background-color: #1b7642;
    font-size: 36px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 25px
}
.banner-main .btn_white_title {
    padding: 10px 21px;
    font-size: 22px;
    text-transform: uppercase;
    background-color: white;
    font-weight: 400;
    transition: width 2s;
    cursor: pointer;
}
/* .banner-main .btn_white_title :hover{
    background-color: #1b7642;
} */
.banner_btn:hover{
    background-color: #1b7642;
    color: white;
   padding:15px 25px ;
    
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.center_down
 {
    margin: auto;
    width:45px;
    height:45px;
    text-align: center;
    color:white;
    background-color: #1b7642;
 }
.center_down i
{
    font-size: 30px; line-height: 45px;
 }
    /*                                                              irrigation start */
.irrigation
{
     margin:75px auto;
     position: relative;
}   
.irrigation .container
 {
    max-width:1109px;
    width: 100%;
    margin: 0px auto;
    padding:20PX;
 }
.irrigation  .container .irrigation_inner
{
        display: flex;
        flex-direction: row;
}
.irrigation .irrigation_inner h2
{
    text-transform: uppercase;
    font-size: 131px;
    line-height: 0.75;
    font-weight: 900;
    padding: 0;
    margin: 13px 0;
    letter-spacing: -7px;
    font-family: sans-serif;
    background-image: url(../images/text_img.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    background-size: cover;
}
.irrigation-logo img
{
     width: 182px;
     height: 169px;
}
.irrigation-heading__top
{
    text-align: center;
    margin-bottom: 20px;
     font-size:43px;
}
.irrigation-heading__bottom
{
    color: #4A4A4A;
    text-align: right;
    margin-top: 20px;
    margin-left:180px;
    font-size:43px;
}
    /*                                                                irrigation-images */
.irrigation-images
{
    margin: 0px auto;
     background-image: linear-gradient(white,#DFD8D8);
    padding-bottom: 100px;
}
.irrigation-images .container
{
     max-width:1095px;
     margin: 0px auto;
     width: 100%;
}
.irrigation-images .container .irrigation-figure
{
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center
}
.irrigation-images .container .irrigation-figure li
{
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
} 
.irrigation-images .container .irrigation-figure li img
{
    text-align:center; 
    width: 75px;
    height: 75px; 
    margin-bottom: 10px;
}
.irrigation-images .container .irrigation-figure li span
{
    text-align:center;
    margin-top:10px;
    font-weight:600;
    font-size: 16px;  
}
.irrigation-figure li figcaption
{
    text-align:center;
    margin-top:10px;
    font-weight:600;
    font-size: 16px;
}
    /*                                                             about start */
.about
{
     position: relative;
     background-color:#3F3531;
    z-index: 1;
}
.about .container .about-inner
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
}
.about::after
{
    content: '';
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index:-1;
  	 background-image: url('../images/white.jpg');
}
.vinfo
{
     width: 556px;
     height:360px;
}
.about .container .about-inner .playbtn
{
    border:1px solid rgba(27,118,66,1); 
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    position:absolute;
    left:30%;  
    top:200px;
}
.playbtninner
{
     width: 68px;
    height: 68px;
    border-radius: 50%;
    border:1px solid rgba(27,118,66,1); 
    background-color:#44AF72;   
}
.playbtninner img
{
    margin:20px 0px 0px 22px;
    width: 25px;
    height: 25px;
}
.aboutinfo
{
 	max-width: 70%;
    padding: 1.5rem;
    color: rgb(255,255,255);
    margin-left:25px;
}
.aboutinfop
{
    line-height:22px;
    padding: 1rem 0rem;
    text-align:left;
}
.knowMorebtn
{
    color: rgb(255,255,255);
    background-color: rgb(68,175,114);
    padding: 0.5rem 2rem;
}
.knowMorebtn:hover
{
    background-color: white;
    color:black;
}
     /*                                                                    green part */
.greenplat
{
    background-image:url('../images/grras2.png');	
    height:100px;
    margin-bottom:-2px;
    margin-top: 20px;
}
     /*                                                             footer */
footer
{
     position: relative;
     background-color:rgba(27,118,66,1);
     padding: 10px;
}
.inner-footer
{
   display: flex;
   flex-direction: row;
}
.subscibebox
{
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly; 
}
.subscibeboxSection-one
{
    display: flex;
   justify-content: space-around;
   padding: 2rem 0rem;
   margin-top: 10px;
}
.subscibeboxSection-two
{
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
}
.subscibeboxSection-two p
{
    font-size: 12px;
}
.aboutUsLinkfooter
{
    display: inline
}
.aboutUs-important-link
{
    column-count:2;
}
.subscibebox .newsletterstitle
{
    letter-spacing:0.5px;
    font-family: 'Lato-Regular',sans-serif;
    font-size: 21px; 
}
.subscibebox .navbarfootersubtitle
{
    font-size: 18px;
}
.inputForEmail
{
   background-color: rgba(0,0,0,0.1);
   border-radius: 50px;
   margin-top: 20px;
}
.inputForEmail input 
{
   width:672px;
   background-color:transparent;
   border:none;
   padding: 1rem;
   color:rgb(255,255,255);
   height:40px;
}
::placeholder 
{
    color: white;
    opacity: 1; /* Firefox */
}
.inputForEmail input:focus
{
    outline: none;
    background-color:transparent;
}
.inputForEmail button
{
   width:191px;
   padding:10px;
   border-radius: 50px;
   border: none;
   font-size: 14px;
   color: #393939;
   margin:5px;
   height:40px;
   position: absolute;
   top:65px;
   right:550px;
}
.contact
{
    width:35%;
    margin-left:20px;
    background-color: rgba(0,0,0,0.1);
    padding:1.2rem;
}
.contactUsContainer
{
     display: flex;
     align-items: center;
     padding:1rem;
     height: 80px;
}
.contactUsContainer .img_contact
{
    width: 10%;
    margin: auto;
}
.contactUsContent
{
     color: rgb(255,255,255);
     width: 70%;
     border-bottom: 2px solid  rgba(235, 222, 222, 0.2);
     padding-bottom: 10px;
     margin-top: 10px;
} 
.contactUsContent h3
{
    font-size:16px;
}
.contactUsContent p
{
    font-size: 12px;
}
.followUs i
{
    margin-left: 20px;
}
.followUs 
{
    margin-top: 10px;
}
.footerLeftSection-two-for-mobile
{
     display: none;
}
.header-for-mobile
{
    display: none;
}
.header-for-mobile-app
{
     display: none;
}
.navbarfooter ul li
{
    font-size: 12px;
}
   /*                          @media start */
 @media only screen and (max-width: 1200px)
{
    .inputForEmail button{
        top:65px;
        right:490px;
    }
}
@media only screen and (max-width: 991px)
{
    header .container,.banner-main .container, .irrigation .container,.irrigation-images .container, .about .container , footer .container
     {
        max-width:858px;
        width: 100%;
        margin: 0px auto;
    }   
    /*                                                                   991    header part start */
    header .container .header-inner .navbar .navbar-top .navbar-top-frist-link{
        display: none;
    }
    .navbar-bottom{
        display: none;
    }
    #baricon{
        display: block;
        font-size:16px;
    }
    .header-for-mobile{
        display:block;
        z-index: 1;
        background-color:  rgb(27,118,66);
        position:fixed;
        right: 0px;
        left: 0px;
        top:6rem;
        height: 100%;
        padding: 2rem;
        color: rgb(255, 255, 255);
    }
    header .container .header-inner.navbar .navbar-bottom ul{
        display:none;  
    }
    /*                                                                   991 banner start */
    .banner-main .container .banner-title{
        position: absolute;
        top:150px;
        left :70px  
    }
    .banner-main .container .banner-title .banner__heading{
        padding: 12px 25px 12px 20px;
        font-size:41px; 
    }
    .banner-main .container .banner-title .banner__subheading{
        padding: 12px 25px 12px 20px;
        font-size:27px;
    }
    .banner-main .btn_white_title {
        padding: 10px 21px;
        font-size:16px;
    }
    /*                                                                  991 irrigation start */
    .irrigation .container .irrigation_inner
    {
        flex-direction: column-reverse;
        align-items: center;
    }
    .irrigation-heading__top
    {
        font-size: 32px;
    }
    .irrigation-heading__bottom{
         font-size: 32px;
    }
    /*  991 about start */                                                                         
    .about  .about-inner
    {
        padding: 1rem;
        display: block !important;
    }
    .about  .about-inner .videoinfo, .about .container .about-inner .videoinfo video{
        width: 100%;
    }
    .vinfo{
        width: 100%;
        height: 500px;
    }
    .about::after{
        display: none;
    }
    .about .container .about-inner .playbtn
    {
        position:absolute;
        left:45%;   
    }
    .aboutinfo
    {
       margin-left:0px;
       max-width: 100%;
    }
    .aboutinfop
    {
        font-size: 16px;
    }
     /*                                                                         991 footer start */
    .inputForEmail button
    {
        width:138px;
        top:67px;
        right:410px;
        font-size: 10px; 
    }
    .contactUsContent
    {
        width: 90%;
        margin-left:5px;
    }
    .subscibebox .navbarfootersubtitle 
    {
                font-size: 16px;
    }
}
@media only screen and (max-width:843px)
{
    .irrigation .irrigation_inner h2{
        font-size:100px;
    }

}
@media only screen and (max-width: 767px)
{
    header .container,.banner-main .container, .irrigation .container,.irrigation-images .container, .about .container , footer .container
    {
        max-width: 100%;
        padding: 0px;
    }
    header
    {
        padding: 0px 5px;

    }
     /*                                                                         767 banner */
    .banner-main .container .banner-title .banner__heading
    {
        padding: 10px 10px 10px 10px;
        font-size:32px; 
    }
    .banner-main .container .banner-title
    {
        position: absolute;
        top: 140px;
        left: 20px;
    }
    .banner-main .container .banner-title .banner__subheading{
        padding: 12px 25px 12px 20px;
        font-size:20px;
    }
    .banner-main .btn_white_title {
        padding: 10px 21px;
        font-size:14px;
    }
     /*                                                                            767 irrigation */
    .irrigation  .container .irrigation-heading{
        margin: auto;
    }
     .irrigation .irrigation_inner h2{
         font-size: 84px;
     }
    .irrigation-logo img{
        width: 103px;
        height: 95px;
       margin: auto;
    }
    .irrigation-heading__top{
        font-size: 25px;
        text-align: center;
        margin: auto;
    }
    .irrigation-heading__bottom{
         text-align:center;
         margin: auto;
         font-size:25px;
    }
    .center_down{
        width: 40px;
        height: 40px; 
    }
    /*                                                           767   irrigation-images */
    .irrigation-images .container .irrigation-figure li span{
        text-align:center;
        margin-top:10px;
        font-weight:600;
        font-size: 14px;  
    }
    /*                                                                          767   about */
    .about
    {
        background: white;
    }
    .about  .about-inner .videoinfo, .about .container .about-inner .videoinfo video
    {
        width:100%;
        margin: 0px auto;
    }
    .vinfo{
        width: 100%;
        height:380px;
    }
    .about::after{
        display: none;
    }
    .about .container .about-inner .playbtn{
        position:absolute;
        left:45%;   
    }
    .aboutinfo
    {
         width:100%;
         padding: 1rem;
         color: black;
    }
    .aboutinfop
    {
            font-size: 15px;
    }
/*                                                                         767   footer start */
    .inner-footer
    {
         display: flex;
         flex-direction: column;  
    }
    .subscibebox
    {
        width:100%;
        display:block;
    }   
    .contact{
        width: 100%;
        margin: 0px auto;
    }
    .inputForEmail button{
        right:55px;
        top: 50px;
    }
    .subscibeboxSection-two{
        display:none;
    }
    .contactUsContainer .img_contact{
        width: 22px;
        height: 29px;
    }
    .footerLeftSection-two-for-mobile{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        margin-top: 20px;
        color: white;
        justify-content: space-around;
    }
    .footerLeftSection-two-for-mobile p{
        font-size: 10px;
    }
    .inputForEmail button {
        width:112px;
        padding:8px;
        font-size: 10px;
        height:35px;
        top: 52px;
        right:10px;
        }
}
@media only screen and (max-width:680px){
    header .container .header-inner{
        flex-direction: column;
    }
    .irrigation .irrigation_inner h2 
    {
        font-size: 56px;
        text-align: center;
    }
    .banner-main .container .banner-title .banner__heading{
        padding:8px;
        font-size:16px; 
    }
    .banner-main .container .banner-title{
        position: absolute;
        top: 130px;
    }
    .banner-main .container .banner-title .banner__subheading{
        padding:8px;
        font-size:16px;
        margin-bottom: 8px;
    }
    .banner-main .btn_white_title {
        padding: 8px 10px;
        font-size: 13px;
    }
    .irrigation-images .container .irrigation-figure{
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 25px;
        row-gap: 40px;

    }
}
@media only screen and (max-width:425px)
{
  
    .logoheading{
        font-size: 13px;
    }
    header .container .header-inner .logo {
        margin: auto;
    }
    /*                                                                             425 banner */
    .banner-main .container .banner-title .banner__heading{
        padding:8px;
        font-size:15px; 
    }
    .banner-main .container .banner-title{
        position: absolute;
        top: 130px;
    }
    .banner-main .container .banner-title .banner__subheading{
        padding:8px;
        font-size:14px;
        margin-bottom: 8px;
    }
    .banner-main .btn_white_title {
        padding: 5px 5px;
        font-size:10px;
    }
    .center_down{
        margin: auto;
        margin-top: -10px;
        width: 20px;
        height: 20px;
    }
    /*                                                             425  irrigation start */
    .irrigation
    {
       margin:45px auto;
       position: relative;
    }   
    .irrigation .irrigation_inner h2 
    {
        font-size: 46px;
    }
   .irrigation-logo img{
       width:57px;
       height:53px;
       margin-right:auto;
     
   }
   .irrigation-heading__top{
       text-align: center;
       margin-bottom: 20px;
       font-size:14px;
   }
   .irrigation-heading__bottom{
       color: #4A4A4A;
        text-align: right;
        margin-top: 20px;
        margin: auto;
        font-size:14px;
   }
   /*                                                          425 irrigation-images */
   .irrigation-images .container .irrigation-figure{
       flex-direction: column;
   }
    /*                                                            425 about */
   .about{
	position: relative;
    background-color:white;
    z-index: 1;
	}
    .vinfo {
        width: 100%;
        height: 210px;
    }
    .aboutinfop{
        font-size: 13px;
    }
	.about .container .about-inner{
    flex-direction: column;
	}
    .about .container .about-inner .playbtn{
        width: 80px;
        height: 80px;
        position:absolute;
        left:40%; 
        top: 90px; 
     }
 	.knowMorebtn{
    padding: 0.5rem 2rem;
 	}
     /*                                                                         425 footer */
    .newsletterstitle
    {
         font-size: 16px;
    }
    .subscibeboxSection-one
    {
        display: flex;
        justify-content: space-around;
        padding: 1rem 0rem;
        margin-top: 10px;  
    }
        .subscibeboxSection-two {
        display: none;
        }
        .subscibeboxSection-two p{
          font-size: 12px;
        }
        .aboutUsLinkfooter {
        display: inline
        }
        .aboutUs-important-link{
            column-count:1;
        }
        .inputForEmail{
        background-color: rgba(0,0,0,0.1);
        border-radius: 50px;
        margin-top: 20px;
        width: 100%;
        }
        .inputForEmail input {
        width:100%;
        background-color:transparent;
        border:none;
        padding: 1rem;
        color:rgb(255,255,255);
        height: 35px;
        }
        .inputForEmail button {
        width:112px;
        padding:8px;
        font-size: 10px;
        height:35px;
        top: 50px;
        right:10px;
        }
        .contact{
        width:100%;
        margin:0px;
        background-color: rgba(0,0,0,0.1);
        padding:10px;
        }
        .contactUsContainer
        {
            display: flex;
            align-items: center;
            padding:0rem;
            height: 80px;
        }
        .contactUsContainer .img_contact
        {
            width:22px;
            height: 29px;
            margin: auto;
        }
        .contactUsContent
        {
            color: rgb(255,255,255);
            width: 70%;
            border-bottom: 2px solid  rgba(235, 222, 222, 0.2);
            padding-bottom: 10px;
            margin-top: 10px;
        } 
        .followUs i
        {
            margin-left: 20px;
        }
        .followUs 
        {
            margin: 20px auto;
        }
        .center_down {
            width: 30px;
            height: 30px;
        }
        .center_down i{
            font-size:15px;
        }
}
@media only screen and (max-width:375px){
    .banner-main .container .banner-title{
        top: 120px;
    }
    .banner-main .container .banner-title .banner__heading{
        font-size:12px;
        padding: 5px;
    }
    .banner-main .container .banner-title .banner__subheading{
    font-size: 12px;
    padding: 5px;
    }
    .inputForEmail button {
        position: absolute;
        top: 45px;
        right:10px;
        }
        .header .container .header-inner .logo{
           flex-direction: column;
        }
        .logoheading{
            margin-left:1px;
            font-size: 13px;
        }
        header{
            padding: 0px;
            margin: 0px
        }
     
}
@media only screen and (max-width:320px){
    footer{
        padding: 0px;
    }
    .about .container .about-inner .playbtn{
        left:40%; 
        top: 70px; 
     }
     .inputForEmail button 
     {
        top: 40px;
        right:0px;   
    }
    .footer_link_title{font-size:14px ;}
    .navbarfooter
    {
            margin-left: 20px;
    }
    .footer_li_link{font-size:12px;}
    .banner-main .container .banner-title
    {
       top: 110px;
    }
    .logoheading
    {
            font-size: 13px;
    }
}